<%
page.layout = "about"
page.title = theme.about.title || __('about.title')
page.subtitle = theme.about.subtitle || __('about.subtitle')
page.banner_img = theme.about.banner_img
page.banner_img_height = theme.about.banner_img_height
page.banner_mask_alpha = theme.about.banner_mask_alpha
%>
<html>
  <head>
    
    <link href="https://cdn.bootcss.com/aplayer/1.10.1/APlayer.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/aplayer/1.10.1/APlayer.min.js"></script>
    <style>
        .demo{width:400px;margin:0px auto 20px auto}
        .demo p{padding:10px 0}
    </style>
  </style>
</head>
<body>
  <div class="text-center">
    <div class="about-info">
      <div class="about-name"><%- theme.about.name %></div>
      <div class="about-intro"><%- theme.about.introduce %></div>
      <div class="demo">
      <div id="aplayer" style="text-align: left;">
        </div>
      </div>
      <script>
        const ap = new APlayer({
            container: document.getElementById('aplayer'),
            lrcType: 3,
            listFolded: true,
            loop: 'all',
            audio: [
              {
                name: '华年',
                artist: '鹿先森乐队',
                url: 'http://music.163.com/song/media/outer/url?id=542667160.mp3',
                cover: 'http://p2.music.126.net/r94mVfx8ERhRr7Zzemhd_w==/109951163405599390.jpg',
                lrc: 'https://skyhouse.xyz/lrc/华年.lrc'
              },
              {
                name: '与我轻轻唱',
                artist: '鹿先森乐队',
                url: 'http://music.163.com/song/media/outer/url?id=864489955.mp3',
                cover: 'http://p2.music.126.net/r94mVfx8ERhRr7Zzemhd_w==/109951163405599390.jpg',
                lrc: 'https://skyhouse.xyz/lrc/与我轻轻唱.lrc'
              },
              {
                name: '不在',
                artist: '韩安旭',
                url: 'http://music.163.com/song/media/outer/url?id=541511427.mp3',
                cover: 'http://p1.music.126.net/duY_T9VXfpnEcsuoQDFPmw==/109951163169037953.jpg',
                lrc: 'https://skyhouse.xyz/lrc/不在.lrc'
              }
            ]
        });
      </script>
    </div>
  </div>
  <div class="mt-5 markdown-body">
    <%- page.content %>
  </div>
  <div class="text-center">
    <div class="about-icons">
      <% for(const each of theme.about.icons) { %>
        <% if (!each.class) continue; %>
        <% var cls = each.class %>
        <% var isQr = each.qrcode %>
        <a href="<%= isQr ? 'javascript:;' : url_for(each.link) %>" class="<%= isQr ? 'qr-trigger' : '' %>">
          <i class="<%= cls %>" aria-hidden="true"></i>
          <% if (isQr) { %>
            <img class="qr-img" src="<%= url_for(each.qrcode) %>" alt="qrcode" />
          <% } %>
        </a>
      <% } %>
    </div>
  </div>
</body>
</html>
